<!DOCTYPE html>
<html lang="en">
	
{{>header}}
<head>
  


		<title>Newsfeed</title>
    
		<link rel="stylesheet" href="/profileAssets/css/style.css" />
		<link rel="stylesheet" href="/profileAssets/css/ionicons.min.css" />
    <link rel="stylesheet" href="/profileAssets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/inomash/fonts/material-design-iconic-font/css/material-design-iconic-font.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
       
	</head>
  <body>

   
 
     <div id="page-contents" style="margin-bottom: 500px">
    	<div class="container" style="margin-top: 60px;margin-bottom:20px;">
    		<div class="row">

    		  {{>profileTop2}}
    		
    			<div class="col-md-7">

         
           

           
            <div class="friend-list">
            	<div class="row" id="row">
                <div class="create-post">
            	<div class="row">
            		<div class="col-md-7 col-sm-7">
                  <div class="form-group">
                      {{#if Pimage}}
             <img src="data:image/png;base64, {{Pimage}}" class="profile-photo-md">
            {{else}}
                 <img src="/profileAssets/images/male.jpg" id="i" 
                  alt="user" name="user" class="profile-photo-md" />
            {{/if}}
                   
                    <textarea name="texts" id="exampleTextarea" cols="80" rows="1" class="form-control" placeholder="Write what you wish"></textarea>
                  </div>
                </div>
            		<div class="col-md-5 col-sm-5">
                  <div class="tools">
                    <ul class="publishing-tools list-inline">
                      <li><a href="#"><i class="ion-compose"></i></a></li>
                      <li><a href="#"><i class="ion-images"></i></a></li>
                      <li><a href="#"><i class="ion-ios-videocam"></i></a></li>
                      <li><a href="#"><i class="ion-map"></i></a></li>
                    </ul>
                    <button class="btn btn-primary pull-right">Publish</button>
                  </div>
                </div>
            	</div>
            </div>
            	<hgroup class="mb20" id="">
                <div id="result-info-head"></div>

	</hgroup>
  
 <button class="filter" id="filter-toggle"><i class="icon ion-ios-settings-strong"></i>  Filter</button>
<div id="filter" class="filter-div" >  
    <div class="toggle-switch switch-set" >
            <label class="switch">
                  <input type="checkbox" id="locationFilter" onchange="filter()" checked>
                  <span class="slider round"></span>
            </label>
            <div class="col-xs-12 col-sm-12 col-md-7 excerpet" >
                  <strong>ACCORDING TO THE LOCATION</strong>
            </div>
    </div>
    <div class="toggle-switch switch-set" >
           <label class="switch">
                 <input type="checkbox" onchange="filter()" id="skillFilter">
                 <span class="slider round"></span>
           </label>
           <div class="col-xs-12 col-sm-12 col-md-7 excerpet" >
                 <strong>ACCORDING TO THE SKILL CATEGORY</strong>
           </div>
    </div>

      <button class="filter" id="done">Done Filtering</button>
</div>
            <div id="contentDiv"></div>

       

              
           
             
            
            
               
                
            	</div>
            </div>
          </div>

    			
    			<div class="col-md-2 static">
            <div class="suggestions" id="sticky-sidebar">
              <h4 class="grey">Suggestions</h4>
              
             
              
              
             
              <div class="follow-user">
                <img src="/profileAssets/images/users/user-15.jpg" alt="" class="profile-photo-sm pull-left" />
                <div>
                  <h5><a href="#">Sahran Khuwaja</a></h5>
                  <a href="#" class="text-green">View Profile</a>
                </div>
              </div>
                <div class="follow-user">
                <img src="/profileAssets/images/users/user-12.jpg" alt="" class="profile-photo-sm pull-left" />
                <div>
                  <h5><a href="#">Sameer Khuwaja</a></h5>
                  <a href="#" class="text-green">View Profile</a>
                </div>
              </div>
            </div>
          </div>
    		</div>
    	</div>
    </div>
{{>footer}}
 
    <div id="spinner-wrapper">
      <div class="spinner"></div>
    </div>

    <script src="/profileAssets/js/jquery-3.1.1.min.js"></script>

    <script src="/profileAssets/js/bootstrap.min.js"></script>
    <script src="/profileAssets/js/jquery.sticky-kit.min.js"></script>
    <script src="/profileAssets/js/jquery.scrollbar.min.js"></script>
    <script src="/profileAssets/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/js/upload.js"></script>
    <script src="/js/mustache.js"></script>
    <script src="/newsfeed/newsfeed.js"></script>
    <script id="" type="text/x-handlebars-template">

    </script>
 
  </body>


</html>

<style>


.upload{
  display: none;
  
}
.cursor{
  pointer-events:none;
  cursor: default;
}
.band{
  color: green;
}
input:checked + .slider{
  background-color: darkblue;
}

</style>
