
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Forgot Password</title>

    {{>mainHeader}}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/fonts/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/vendor/vendor/animate/animate.css">
	<link rel="stylesheet" type="text/css" href="/vendor/vendor/css-hamburgers/hamburgers.min.css">
	<link rel="stylesheet" type="text/css" href="/vendor/vendor/select2/select2.min.css">
	<link rel="stylesheet" type="text/css" href="/css/util2.css">
	<link rel="stylesheet" type="text/css" href="/css/main2.css">

</head>
<body>
       
	
	<div class="limiter" >
		<div class="container-login100">
             
			<div class="wrap-login100" style="margin-top:100px;margin-bottom:20px;">
				
				<form class="validate-form" method="POST" style="width: 600px;margin-bottom:150px;margin-left:80px">
    
	            <div class="alert alert-success" id="smsg" role="alert" style="margin-bottom:35px;" hidden>
                    <strong><p id="s-message" class="row" style="color:green;font-size:15px;margin-left:100px;margin-top:20px;">{{successMessage}}</p></strong><br>
                    </div>
					 <div class="alert alert-danger" id="emsg" role="alert" style="margin-bottom:35px;" hidden>
                    <strong><p id="error-message" class="row" style="color:red;font-size:15px;margin-left:40px;margin-right:40px;margin-top:20px;">{{errorMessage}}</p></strong><br>
                    </div>
                  
					
                      <span class="login100-form-title">
						<strong> <h1 style="color: blue">RESET YOUR PASSWORD</h1></strong>
					</span>
                     

				    <div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" id="Password" name="Password" placeholder="Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
                    <div class="wrap-input100 validate-input" data-validate = "Confirm Password is required">
						<input class="input100" type="password" id="cPassword" name="Confirm Password" placeholder="Confirm Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>

					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit" onclick="return Validate()">
							Submit
						</button>
					</div>
					<div class="pull-right" style="margin-top: 15px;margin-right:15px">
                        Already reset your password? <a href="/login">Login</a>
					</div>
                  
					

			
				</form>
			</div>
		</div>
	</div>
	
	
    {{>footer}}
	
	
	<script src="/vendor/vendor/jquery/jquery-3.2.1.min.js"></script>

	<script src="/vendor/ventor/bootstrap/js/popper.js"></script>
	<script src="/vendor/vendor/bootstrap/js/bootstrap.min.js"></script>

	<script src="/vendor/vendor/select2/select2.min.js"></script>

	<script src="/vendor/vendor/tilt/tilt.jquery.min.js"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>

	<script src="/js/main2.js"></script>
    <script src="/js/forgot.js"></script>

</body>
</html>

<style>

.navbar-default{
        background-color: #222;
        padding: 10px;
    }

.navbar-default.navbar-shrink .navbar-brand {
    font-size: 2.0em;
}



</style>



