
<link rel="stylesheet" type="text/css" href="/css/style2.css">
<link rel="stylesheet" href="/css/font-awesome.css" />

<footer id="footer" class="footer">
    <div class="container text-center">

      <h3>For further assitance, contact us!</h3>
      <ul class="social-links">
        <li><a href="#link"><i class="fa fa-twitter fa-fw"></i></a></li>
        <li><a href="#link"><i class="fa fa-facebook fa-fw"></i></a></li>
        <li><a href="#link"><i class="fa fa-google-plus fa-fw"></i></a></li>
        <li><a href="#link"><i class="fa fa-dribbble fa-fw"></i></a></li>
        <li><a href="#link"><i class="fa fa-linkedin fa-fw"></i></a></li>
      </ul>
      ©2019 Elifind. All rights reserved
      <div class="credits">
       
        Designed by <a href="">Sahran Khuwaja & Farhan Daya</a>
      </div>
    </div>
  </footer>
